@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background: rgba(20, 210, 227, 0.831);
  text-align: center;
}

h1 {
  font-size: 50px;
  color: rgba(29, 82, 215, 0.823);
}

p {
  font-size: px;
  font-family: 'Indie Flower';
}

img {
  width: 30%;
}